{{ define "main" }}
<div class="container content">
  {{ partial "breadcrumb.html" . }}
  {{ partial "scroll-context.html" . }}
  {{ partial "toc.html" . }}

  <article>
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    {{ if .Pages }}
    <ul class="section-index">
      {{ range .Pages }}
      <li class="section-index-item">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ with .Params.description }}
          <p>{{ . }}</p>
        {{ else }}
          {{ with .Summary }}
            <p>{{ . | plainify | truncate 160 }}</p>
          {{ end }}
        {{ end }}
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </article>

  {{ partial "prev-next.html" . }}
</div>
{{ end }}
